<div class="btn-group">
  <button
    type="button"
    mat-icon-button
    (click)="emitShift(-7)"
    matTooltip="–7 dagar"
  >
    <mat-icon>keyboard_double_arrow_left</mat-icon>
  </button>
  <button
    type="button"
    mat-icon-button
    (click)="emitShift(-1)"
    matTooltip="–1 dag"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button
    type="button"
    mat-icon-button
    (click)="emitShift(1)"
    matTooltip="+1 dag"
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
  <button
    type="button"
    mat-icon-button
    (click)="emitShift(7)"
    matTooltip="+7 dagar"
  >
    <mat-icon>keyboard_double_arrow_right</mat-icon>
  </button>
</div>
