<!-- 
https://material.angular.dev/components/list/overview
https://material.angular.dev/components/checkbox/overview
https://angular.dev/api/common/AsyncPipe 
-->

<button mat-stroked-button (click)="back()">← Till projekt</button>

<h2>Uppgifter</h2>

<button mat-raised-button color="accent" [routerLink]="['new']">
  + Ny uppgift
</button>

<!-- Material-listcontainer -->
<mat-list
  cdkDropList
  *ngIf="tasks$ | async as tasks"
  (cdkDropListDropped)="sort($event, tasks)"
>
  <!-- loopar över tasks -->
  @for (t of tasks; track t.id) {
  <mat-list-item cdkDrag>
    <!-- binder done och växlar status -->
    <mat-checkbox class="mr-2" [checked]="t.done" (change)="toggle(t)">
    </mat-checkbox>

    <div class="grow">
      <strong>{{ t.title }}</strong>
      <small class="muted">
        — prio {{ t.priority }} — {{ daysLeft(t.deadline) }} dagar kvar
      </small>
    </div>

    <!-- statusetikett -->
    <span>{{ t.done ? "✔️ Klar" : "⏳ Pågår" }}</span>
  </mat-list-item>
  }
</mat-list>
