<!-- 
https://material.angular.dev/components/list/overview
https://material.angular.dev/components/checkbox/overview
https://angular.dev/api/common/AsyncPipe 
-->

<button mat-stroked-button (click)="back()">← Till projekt</button>

<h2>Uppgifter</h2>

<!-- navigerar till /tasks/:projectId/new -->
<button mat-raised-button color="accent" class="add-btn" [routerLink]="['new']">
  + Ny uppgift
</button>

<!-- Material-listcontainer --------------------------------------------- -->
<mat-nav-list
  class="task-list"
  cdkDropList
  *ngIf="tasks$ | async as tasks"
  (cdkDropListDropped)="sort($event, tasks)"
>
  @for (t of tasks; track t.id) {
  <!-- div istället för <a> -> inga fel med <mat-checkbox>  -->
  <div
    mat-list-item
    class="task-item"
    cdkDrag
    [ngClass]="{ 'task-item-done': t.done }"
  >
    <!-- Checkruta ------------------------------------------------- -->
    <mat-checkbox
      color="primary"
      class="check"
      [checked]="t.done"
      (change)="toggle(t.id, $event.checked)"
      aria-label="Klar?"
    ></mat-checkbox>

    <!-- Titel + meta --------------------------------------------- -->
    <div class="meta">
      <strong>{{ t.title }}</strong>
      <small>
        — Prioritet {{ priorityLabel(t.priority) }} —
        {{ daysLeft(t.deadline) }} dagar kvar
      </small>
    </div>

    <span class="spacer"></span>

    <!-- Status-chip ---------------------------------------------- -->
    <mat-chip
      [color]="t.done ? 'primary' : undefined"
      variant="outlined"
      selected
    >
      {{ statusLabel(t) }}
    </mat-chip>

    <!-- Edit -->
    <button
      mat-icon-button
      color="primary"
      [routerLink]="['/projects', projectId, 'tasks', t.id, 'edit']"
      (click)="$event.stopPropagation()"
      matTooltip="Redigera uppgift"
    >
      <mat-icon>edit</mat-icon>
    </button>

    <!-- Ta bort-knapp (valfri) ------------------------------------ -->
    <button
      mat-icon-button
      color="warn"
      class="delete-btn"
      aria-label="Ta bort"
      (click)="remove(t.id)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  }
</mat-nav-list>
