<!-- 
https://material.angular.dev/components/list/overview
https://material.angular.dev/components/checkbox/overview
https://angular.dev/api/common/AsyncPipe 
-->

<h2>Uppgifter</h2>
@if (showCreated) {
<p class="info">Uppgift tillagd!</p>
}
<!-- Material-listcontainer -->
<mat-list>
  <!-- loopar över tasks -->
  <mat-list-item *ngFor="let task of tasks$ | async">
    <!-- binder done och växlar status -->
    <mat-checkbox [checked]="task.done" (change)="toggle(task)"> </mat-checkbox>

    <span class="title">{{ task.title }}</span>
    <!-- statusetikett -->
    <span class="status">{{ statusLabel(task) }}</span>
  </mat-list-item>
</mat-list>

<app-add-task />
