.full {
    width: 100%;
}

mat-card {
    max-width: 500px;
    margin: 24px auto;
    padding: 16px 24px;
}

.deadline-row {
  display: flex;
  align-items: center;
  gap: .5rem;

  .btn-group { display: flex; }
}
